---
import { Image } from "astro:assets";
import bannerImage from "../assets/banner.png";
---

<header>
  <div class="container-header pb-8 sm:pb-10 md:pb-12">
    <div
      id="navBackground"
      class="md:h-128 relative flex flex-col justify-center sm:justify-end bg-muted sm:rounded-b-3xl md:rounded-b-4xl banner"
    >
      <div class:list={["flex flex-col items-center py-16 mt-22", "md:ps-12 md:pb-12 md:items-start md:mt-0"]}>
        <h1 class="text-4xl text-foreground sm:text-5xl lg:text-6xl font-bold mb-4 sm:mb-6">雪乃碗的贴纸</h1>
        <p class="text-lg text-muted-foreground">点击复制，随处贴贴</p>
      </div>
      <Image
        src={bannerImage}
        alt="Site Banner"
        class:list={[
          "w-[calc(100lvw-8rem)] max-w-84 h-auto relative bottom-0 -right-1/2 transform-[translate(-50%,calc(163/2991*100%))]",
          "md:absolute md:right-16 md:transform-[translate(0,calc(163/2991*100%))]",
          "lg:max-w-112",
        ]}
      />
    </div>
  </div>
</header>
