---
import { Image } from "astro:assets";
import bannerImage from "../assets/banner.png";
---

<header>
  <div class="container pb-8 sm:pb-10 md:pb-12">
    <div
      class="h-100 relative flex flex-col justify-end bg-gray-100 rounded-b-2xl sm:rounded-b-3xl md:rounded-b-4xl text-gray-700 ps-12 pb-12 banner"
    >
      <h1 class="text-4xl sm:text-6xl font-bold mb-4 sm:mb-6">雪乃碗的贴纸</h1>
      <p class="text-lg opacity-70">点击复制，随处贴贴</p>
      <Image
        src={bannerImage}
        alt="Site Banner"
        class="w-[calc(100lvw-8rem)] max-w-112 h-auto absolute right-16 bottom-[-21.5px]"
      />
    </div>
  </div>
</header>
