@reference "../styles/global.css";

.burger-bar-1--s1 {
  top: 0;
  transform: translate(-50%, 0);
}
.burger-bar-1--s2 {
  top: 50%;
  transform: translate(-50%, -50%);
}
.burger-bar-1--s3 {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg) scale(1.3);
  height: 0.2rem;
}
.burger-bar-2--s1 {
  display: block;
}
.burger-bar-2--s2 {
  display: none;
}
.burger-bar-3--s1 {
  bottom: 0;
  transform: translate(-50%, 0);
}
.burger-bar-3--s2 {
  bottom: 50%;
  transform: translate(-50%, 50%);
}
.burger-bar-3--s3 {
  bottom: 50%;
  transform: translate(-50%, 50%) rotate(-45deg) scale(1.3);
  height: 0.2rem;
}
